<div>
    <app-navbar></app-navbar>
    <div id="home-section">
        <div class="landing-section">
            <div class="landing-section-left">
                <div class="title">
                    <span>Coronavirus Tracker</span>
                </div>
                <div>
                    <span class="landing-des">As the virus that causes COVID-19 spreads worldwide, you can track the number of
                        confirmed cases,
                        recovered patients, and death tolls due to coronavirus both globally and locally.</span>
                    <div class="landing-button-area">
                        <div class="button-container top-button">
                            <span class="button-text-size">Get Started</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="landing-section-right">
                <img class="landing-image" alt="Image not available" src="./assets/images/sd.svg" />
            </div>
        </div>
    </div>
</div>