<div>
    <app-navbar></app-navbar>
    <div id="home-section">
        <div class="landing-section">
            <div class="landing-section-left">
                <div class="title">
                    <span>Coronavirus Tracker</span>
                </div>
                <div>
                    <span class="landing-des">As COVID-19 spreads worldwide, you can track the number of
                        confirmed cases,
                        recovered patients, and death tolls due to coronavirus both globally and locally.</span>
                    <div class="landing-button-area">
                        <div class="button-container top-button">
                            <a id ="getstarted" href="#card-section" class="button-text-size">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="landing-section-right">
                <img class="landing-image" alt="Image not available" src="./assets/images/sd.svg" />
            </div>
        </div>
        <div class="card-section" id="card-section">
            <div class="card card-purple">
                <div class="card-contents">
                    <span class="title-gray">Infected</span>
                    <span class="title-black"
                        [countUp]="dailyStatsData === undefined ? 0 : dailyStatsData.confirmed.value">0</span>
                    <span class="title-gray">{{dailyStatsData === undefined ? 0 : dailyStatsData.lastUpdate}}</span>
                    <span class="title-black">Number of active cases of COVID-19</span>
                </div>
            </div>

            <div class="card card-green">
                <div class="card-contents">
                    <span class="title-gray">Recovered</span>
                    <span class="title-black"
                        [countUp]="dailyStatsData === undefined ? 0 : dailyStatsData.recovered.value">0</span>
                    <span class="title-gray">{{dailyStatsData === undefined ? 0 : dailyStatsData.lastUpdate}}</span>
                    <span class="title-black">Number of recoveries from COVID-19</span>
                </div>
            </div>


            <div class="card card-red">
                <div class="card-contents">
                    <span class="title-gray">Deaths</span>
                    <span class="title-black"
                        [countUp]="dailyStatsData=== undefined ? 0 : dailyStatsData.deaths.value">0</span>
                    <span class="title-gray">{{dailyStatsData === undefined ? 0 : dailyStatsData.lastUpdate}}</span>
                    <span class="title-black">Number of deaths caused by COVID-19</span>
                </div>
            </div>
        </div>

        <div id = "map-section" class="map-section" >
            <div class="countries">
                <select id="countries">
                <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>   
                </select>
            </div>
            <div class="canvas">
                <canvas id="canvas"></canvas>
            </div>
        </div>


        <footer class= "footer-section">
            <div class = "footer-left">
                <span>&copy; 2020 COVID-19 Tracker</span>
            </div>
            <div class = "footer-right">
                <a href="javascript:void(0);">Home</a>
                <a href="javascript:void(0);">Resources</a>
                <a href="javascript:void(0);">Terms</a>
                <a href="javascript:void(0);">Privacy</a>
        
            </div>
        </footer>
    </div>
</div>