*{
    /*border: 1px blue solid;*/
}
/*Nav Section*/



#home-section{
    margin: 10% 5%;
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;  
}


.landing-section{
    min-height:100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    column-gap:10%;
    margin-bottom:10%;
}

.landing-image{
    background-repeat: no-repeat;
    background: center;
    max-width: 100%;
    
}

.landing-section-right{
    display:flex;
    flex-direction: column;
    /*align-items:center;*/
}

.landing-section-left{
    display:flex;
    flex-direction:column;
    height:100%;
    margin-top:5%
    /*align-content: center;*/
    /*justify-content: center;*/
}

.title-gray{
    color: rgb(79, 92, 101);
}

.title-black{
    color:rgb(34, 34, 34);
}


.landing-des{
    display:block;
    color: rgb(79, 92, 101);
    font-size:1.5rem;
}

.landing-button-area{
}

.landing-button-area{
    display:inline-block;
    margin-top: 10%;
}

.title{
    color:rgb(34, 34, 34);
    font-size:3.5rem;
    letter-spacing: 1px;
    font-weight:500;
    margin-bottom: 8%;
}



.top-button{
    text-align: center;
    display: inline-block;
    letter-spacing: 2px;
    background-color: rgb(0,191,166);
    font-size: 1.2rem;
    font-weight: 400;
   
    cursor: pointer;
    border-radius: 10px;
    color:white;
    padding: 18px 32px;
    -webkit-transition: background-color .3s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
    -moz-transition: background-color .3s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
    -o-transition: background-color .3s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
    transition: background-color .3s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
   
    
}

.card-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    column-gap: 25px;
    row-gap: 50px;
    margin-bottom: 10%;
}


.card-contents > span:first-of-type{
    margin-bottom: 1.5%;
}

.card-contents > span:nth-child(2){
    font-weight:600;
    font-size: 1.5rem;
    margin-bottom:1%;

}

.card-contents > span:nth-child(3){
    margin-bottom:1%;
}

.card-contents > span:nth-child(3),.card-contents > span:nth-child(4),.card-contents > span:first-of-type{
    font-weight:400;
    font-size: 1.1rem;
}

.top-button:hover{
    background-color:  rgb(0,191,166,.80);
    color:white;
    
}

.card-contents{
    display:flex;
    flex-direction: column;
    align-content: center;
    margin: 10% 10%;
    line-height:1.5;
    letter-spacing: 1px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .card-green{
      border-bottom: 5px solid rgb(0,191,166);
  }

  .card-red{
    border-bottom: 5px solid rgb(203,15,82);
    border-right: 5px solid rgb(203,15,82);
  }

  .card-purple{
    border-left: 5px solid rgb(108,99,255);
      border-bottom: 5px solid rgb(108,99,255);
  }

  .map-section{
      display:flex;
      flex-direction: column;
      align-items: center;
      margin-bottom:15%;
  }


  .countries{
      width:60%;
      margin-bottom:5%;
  }

  .canvas{
      width:100%;
  }

  .footer-section{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .footer-right{
      
  }

  .footer-left{
    color: rgb(34, 34, 34);
    font-weight:500;
    font-size:1.2rem;
    letter-spacing: 1.1px;
  }

  .footer-right > a{
      margin-right: 20px;
      color: rgb(34, 34, 34);
      text-decoration: none;
      font-weight:500;
      letter-spacing: 1.1px;
      font-size:1.2rem;
  }

 /*Dropdown Menu*/
 

 
 /*End Dropdown Menu*/

